<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Entelo Chat</title>
  </head>
  <body>
    <div>
      <ul id="messages">
      </ul>
    </div>
      Username<input id="user" name="message[user]" value="" />
      Body<input id="body" name="message[body]" value="" />
      <button id="submit" name="submit">Submit</button>
  </body>
  <script>
  let displayed = new Set();
  function fetchMessages() {
    // messageBox.innerHTML = "";
    fetch("/messages")
    .then((info) => {
      info.json().then(data => data.forEach((message) => {
        if (!displayed.has(message.id)) {
          displayed.add(message.id);
          console.log(displayed);
          let node = document.createElement("P")
          let bold = document.createElement("B");
          let t1 = document.createTextNode(message.user +" : ");
          let t2 = document.createTextNode(message.body);
          bold.appendChild(t1);
          node.appendChild(bold);
          node.appendChild(t2);
          messageBox.appendChild(node);
        }
      }
      ));
    })
  }
  let messageBox = document.getElementById('messages');
  fetchMessages()
  
  setInterval(() => {
    fetchMessages()
  },2000);
  
  let userInput = document.getElementById('user');
  let bodyInput = document.getElementById('body');
  let submit = document.getElementById('submit');
  submit.addEventListener('click', postData);
  
  function postData() {
    fetch('/messages', {
      method: 'post',
      body: JSON.stringify({
        message: {
          body: bodyInput.value,
          user: userInput.value
        }
      }),
      headers: {
        'Content-Type': 'application/json',
      }
    }).then(() => {
        bodyInput.value = "";
        userInput.value = "";
        fetchMessages();
    });
  }
</script>
</html>
