* { margin: 0; padding: 0; box-sizing: border-box; }
body {
  font: 13px Helvetica, Arial;
  background-color: #5febef;
}
#form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
#form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
#form button { width: 9%; background: #5febef; border: none; padding: 10px; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { background: springgreen; padding: 5px 10px; }
#messages li:nth-child(odd) { background: #d4ffa1; }
#users li { list-style: none; margin: 5px 10px; background: #94d3ff; padding: 5px 10px; }
#users li:nth-child(odd) { background: #a1c3ff; }
#wrapper {overflow: auto; margin-bottom: 50px; display: flex; flex-direction: column-reverse;}
#chat {float: left; width: 70%}
#online {background: #b0f5f5; float: left; width: 30%; height: 100vh}
@media screen and (max-width: 480px) {
  body {
    font: 28px Helvetica, Arial;
  }
  form input {
    font: 28px Helvetica, Arial;
    width: 73%;
  }
  form button {
    width: 25%;
    padding: 0px;
    /* padding-top: 6px;
    padding-bottom: 2px; */
    font-size: 18px;
    /* height: auto; */
  }
  #wrapper{
    margin-bottom: 70px;
  }

}
