.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 60px;
}
.App-logo-reverse {
  animation: App-logo-spin-reverse infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  animation: App-title infinite 4s;

  font-size: 2.5em;
  font-family: fantasy;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@keyframes App-logo-spin-reverse {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}
@keyframes App-title {
  0% {
      font-size: 20px;
    }
    25% {
      font-size: 35px;
    }
    50% {
      font-size: 35px;
    }
    100% {
      font-size: 20px;
    }
  }

.Menu-item button{
  font-size: 1.5em;
  font-family: fantasy;
  margin: 10px;
}
.Menu-item ul li{
  list-style: none;
}

.instructions{
  padding: 15px;
  background: #222222;
  color: white;
}

.instructions h2{
  position: relative;
  animation: bop 5s infinite alternate;
}

@keyframes bop {
  0% {
    background-color: white;
    color: black;
    left: -200px;
   }
 50% {
   font-size: 30px;
 }
  100% {
    background-color: #222222;
    color: white;
    left: 200px; }
}
